.cart-bg {
    position: fixed;
    height: 100vh;
    border-left: 1px solid lightgray;
    width: 30%;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 1.2rem;
    
}

.cart {
    text-align: center;
}

mat-card{
    margin: 8px;
}